In [1]:
import pandas as pd

df = pd.read_csv("Data.csv")
print(df)

       Total Household Income              Region  Staple Food Expenditure  \
0                        9370                 CAR                     1736
1                        3540                 CAR                      718
2                        1478                 CAR                     1281
3                        2199                 CAR                     1273
4                        4732                 CAR                     1386
...                       ...                 ...                      ...
41539                    3820  XII - SOCCSKSARGEN                      906
41540                    3850  XII - SOCCSKSARGEN                      159
41541                    4138  XII - SOCCSKSARGEN                     1076
41542                    4231  XII - SOCCSKSARGEN                     1206
41543                    4181  XII - SOCCSKSARGEN                     1676

                 Source of Income  Agricultural Household indicator  \
0                            Wage                                 0
1                            Wage                                 0
2                            Wage                                 1
3                            Wage                                 0
4                            Wage                                 0
...                           ...                               ...
41539  Enterpreneurial Activities                                 1
41540  Enterpreneurial Activities                                 1
41541  Enterpreneurial Activities                                 2
41542  Enterpreneurial Activities                                 1
41543  Enterpreneurial Activities                                 1

       Meat Expenditure  Seafood Expenditure  Leisure Expenditure  \
0                   441                  300                  129
1                   311                  198                   27
2                   139                   46                    9
3                   195                  193                    9
4                   328                  202                   18
...                 ...                  ...                  ...
41539                26                  109                   45
41540                34                   78                   27
41541                 9                   86                    9
41542                42                  317                   18
41543                35                  138                   45

       Alcohol Expenditure   Tobacco Expenditure  ...  \
0                         0                    0  ...
1                        17                   38  ...
2                         5                   81  ...
3                         9                    0  ...
4                        19                    0  ...
...                     ...                  ...  ...
41539                     0                    2  ...
41540                     0                    5  ...
41541                     0                    0  ...
41542                     0                   11  ...
41543                     0                    2  ...

       Number of Refrigerator/Freezer  Number of Washing Machine  \
0                                   1                          1
1                                   0                          1
2                                   0                          0
3                                   0                          0
4                                   1                          0
...                               ...                        ...
41539                               0                          0
41540                               0                          0
41541                               0                          0
41542                               0                          0
41543                               0                          0

       Number of Airconditioner  Number of Car, Jeep, Van  \
0                             0                         0
1                             0                         0
2                             0                         0
3                             0                         0
4                             0                         0
...                         ...                       ...
41539                         0                         0
41540                         0                         0
41541                         0                         0
41542                         0                         0
41543                         0                         0

       Number of Landline/wireless telephones  Number of Cellular phone  \
0                                           0                         2
1                                           0                         3
2                                           0                         0
3                                           0                         1
4                                           0                         3
...                                       ...                       ...
41539                                       0                         1
41540                                       0                         3
41541                                       0                         1
41542                                       0                         2
41543                                       0                         1

       Number of Personal Computer Number of Stove with Oven/Gas Range  \
0                                1                                   0
1                                1                                   0
2                                0                                   0
3                                0                                   0
4                                0                                   0
...                            ...                                 ...
41539                            0                                   0
41540                            0                                   0
41541                            0                                   0
41542                            0                                   0
41543                            0                                   0

       Number of Motorized Banca Number of Motorcycle/Tricycle
0                              0                             1
1                              0                             2
2                              0                             0
3                              0                             0
4                              0                             1
...                          ...                           ...
41539                          0                             0
41540                          0                             0
41541                          0                             0
41542                          0                             0
41543                          0                             0

[41544 rows x 50 columns]

In [2]:
df.columns

Index(['Total Household Income', 'Region', 'Staple Food Expenditure',
       'Source of Income', 'Agricultural Household indicator',
       'Meat Expenditure', 'Seafood Expenditure', 'Leisure Expenditure',
       'Alcohol Expenditure ', 'Tobacco Expenditure', 'Medical Expenditure',
       'Transportation Expenditure', 'Communication Expenditure',
       'Utilities Expenditure', 'Housing Tax', 'Education Expenditure',
       'Crop Farming Expenditure', 'Household Head Gender',
       'Household Head Age', 'Household Head Marital Status',
       'Household Head Highest Grade Completed', 'Education Rank',
       'Household Head Job Indicator', 'Household Head Occupation',
       'Household Head Class of Worker', 'Occupation group',
       'Type of Household', 'Total Number of Family members',
       'Members with age less than 5 year old',
       'Members with age 5 - 17 years old',
       'Total number of family members employed', 'House Floor Area',
       'House Age', 'Number of bedrooms', 'Tenure Status', 'Electricity',
       'Main Source of Water Supply', 'Number of Television',
       'Number of CD/VCD/DVD', 'Number of Component/Stereo set',
       'Number of Refrigerator/Freezer', 'Number of Washing Machine',
       'Number of Airconditioner', 'Number of Car, Jeep, Van',
       'Number of Landline/wireless telephones', 'Number of Cellular phone',
       'Number of Personal Computer', 'Number of Stove with Oven/Gas Range',
       'Number of Motorized Banca', 'Number of Motorcycle/Tricycle'],
      dtype='object')

In [3]:
selected_columns = ["Total Household Income","Region","Total Food Expenditure","Bread and Cereals Expenditure","Total Rice Expenditure","Meat Expenditure","Total Fish and marine products Expenditure","Fruit Expenditure","Vegetables Expenditure","Restaurant and hotels Expenditure", "Alcohol Beverages Expenditure","Tobacco Expenditure","Clothing, Footwear and Other Wear Expenditure","Housing and water Expenditure","Imputed House Rental Value","Medical Care Expenditure", "Transportation Expenditure", "Communication Expenditure", "Education Expenditure", "Miscellaneous Goods and Service Expenditure","Special Occasions Expenditure","Crop Farming and Gardening expenses","Electricity","Number of Television","Number of CD/VCD/DVD","Number of Refrigerator/Freezer","Number of Washing Machine","Number of Airconditioner","Number of Car, Jeep, Van","Number of Landline/wireless telephones","Number of Cellular phone","Number of Personal Computer","Number of Stove with Oven/Gas Range","Number of Motorcycle/Tricycle"]
df_selected = df["New Dataset"]

KeyError: 'New Dataset'

In [4]:
df_filtered = pd.DataFrame(df, columns=selected_columns)
print(df_filtered)

       Total Household Income              Region  Total Food Expenditure  \
0                        9370                 CAR                     NaN
1                        3540                 CAR                     NaN
2                        1478                 CAR                     NaN
3                        2199                 CAR                     NaN
4                        4732                 CAR                     NaN
...                       ...                 ...                     ...
41539                    3820  XII - SOCCSKSARGEN                     NaN
41540                    3850  XII - SOCCSKSARGEN                     NaN
41541                    4138  XII - SOCCSKSARGEN                     NaN
41542                    4231  XII - SOCCSKSARGEN                     NaN
41543                    4181  XII - SOCCSKSARGEN                     NaN

       Bread and Cereals Expenditure  Total Rice Expenditure  \
0                                NaN                     NaN
1                                NaN                     NaN
2                                NaN                     NaN
3                                NaN                     NaN
4                                NaN                     NaN
...                              ...                     ...
41539                            NaN                     NaN
41540                            NaN                     NaN
41541                            NaN                     NaN
41542                            NaN                     NaN
41543                            NaN                     NaN

       Meat Expenditure  Total Fish and marine products Expenditure  \
0                   441                                         NaN
1                   311                                         NaN
2                   139                                         NaN
3                   195                                         NaN
4                   328                                         NaN
...                 ...                                         ...
41539                26                                         NaN
41540                34                                         NaN
41541                 9                                         NaN
41542                42                                         NaN
41543                35                                         NaN

       Fruit Expenditure  Vegetables Expenditure  \
0                    NaN                     NaN
1                    NaN                     NaN
2                    NaN                     NaN
3                    NaN                     NaN
4                    NaN                     NaN
...                  ...                     ...
41539                NaN                     NaN
41540                NaN                     NaN
41541                NaN                     NaN
41542                NaN                     NaN
41543                NaN                     NaN

       Restaurant and hotels Expenditure  ...  Number of CD/VCD/DVD  \
0                                    NaN  ...                     1
1                                    NaN  ...                     1
2                                    NaN  ...                     0
3                                    NaN  ...                     0
4                                    NaN  ...                     0
...                                  ...  ...                   ...
41539                                NaN  ...                     0
41540                                NaN  ...                     1
41541                                NaN  ...                     0
41542                                NaN  ...                     0
41543                                NaN  ...                     0

       Number of Refrigerator/Freezer  Number of Washing Machine  \
0                                   1                          1
1                                   0                          1
2                                   0                          0
3                                   0                          0
4                                   1                          0
...                               ...                        ...
41539                               0                          0
41540                               0                          0
41541                               0                          0
41542                               0                          0
41543                               0                          0

       Number of Airconditioner  Number of Car, Jeep, Van  \
0                             0                         0
1                             0                         0
2                             0                         0
3                             0                         0
4                             0                         0
...                         ...                       ...
41539                         0                         0
41540                         0                         0
41541                         0                         0
41542                         0                         0
41543                         0                         0

       Number of Landline/wireless telephones  Number of Cellular phone  \
0                                           0                         2
1                                           0                         3
2                                           0                         0
3                                           0                         1
4                                           0                         3
...                                       ...                       ...
41539                                       0                         1
41540                                       0                         3
41541                                       0                         1
41542                                       0                         2
41543                                       0                         1

       Number of Personal Computer  Number of Stove with Oven/Gas Range  \
0                                1                                    0
1                                1                                    0
2                                0                                    0
3                                0                                    0
4                                0                                    0
...                            ...                                  ...
41539                            0                                    0
41540                            0                                    0
41541                            0                                    0
41542                            0                                    0
41543                            0                                    0

       Number of Motorcycle/Tricycle
0                                  1
1                                  2
2                                  0
3                                  0
4                                  1
...                              ...
41539                              0
41540                              0
41541                              0
41542                              0
41543                              0

[41544 rows x 34 columns]

In [5]:
print(df.head())

   Total Household Income Region  Staple Food Expenditure Source of Income  \
0                    9370    CAR                     1736             Wage
1                    3540    CAR                      718             Wage
2                    1478    CAR                     1281             Wage
3                    2199    CAR                     1273             Wage
4                    4732    CAR                     1386             Wage

   Agricultural Household indicator  Meat Expenditure  Seafood Expenditure  \
0                                 0               441                  300
1                                 0               311                  198
2                                 1               139                   46
3                                 0               195                  193
4                                 0               328                  202

   Leisure Expenditure  Alcohol Expenditure   Tobacco Expenditure  ...  \
0                  129                     0                    0  ...
1                   27                    17                   38  ...
2                    9                     5                   81  ...
3                    9                     9                    0  ...
4                   18                    19                    0  ...

   Number of Refrigerator/Freezer  Number of Washing Machine  \
0                               1                          1
1                               0                          1
2                               0                          0
3                               0                          0
4                               1                          0

   Number of Airconditioner  Number of Car, Jeep, Van  \
0                         0                         0
1                         0                         0
2                         0                         0
3                         0                         0
4                         0                         0

   Number of Landline/wireless telephones  Number of Cellular phone  \
0                                       0                         2
1                                       0                         3
2                                       0                         0
3                                       0                         1
4                                       0                         3

   Number of Personal Computer Number of Stove with Oven/Gas Range  \
0                            1                                   0
1                            1                                   0
2                            0                                   0
3                            0                                   0
4                            0                                   0

   Number of Motorized Banca Number of Motorcycle/Tricycle
0                          0                             1
1                          0                             2
2                          0                             0
3                          0                             0
4                          0                             1

[5 rows x 50 columns]

In [7]:
df_filtered.to_csv('filtered_data.csv', index=False)